name: C++ Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install SFML
      run: sudo apt-get install -y libsfml-dev
      
    - name: Server build 
      run: make prod
      working-directory: smart_home/server/test
    
    - name: Client build 
      run: make utest
      working-directory: smart_home/client/test
